In [1]:
import pandas as pd

In [2]:
col = {'col1' : [1, 2, 3, 4], 'col2' : [5, 6, 7, 8], 'col3' : [9, 10, 11, 12]}

df = pd.DataFrame(col)

In [5]:
df.drop(['col1', 'col2'], axis=1, inplace=True)

In [6]:
df

   col3
0     9
1    10
2    11
3    12

In [7]:
test = {'job_blue-collar': 0, 'job_entrepreneur': 0, 'job_housemaid': 0, 'job_management': 0, 'job_retired': 0, 'job_self-employed': 0, 'job_services': 0, 'job_student': 0, 'job_technician': 0, 'job_unemployed': 0, 'job_unknown': 0, 'marital_married': 0, 'marital_single': 0, 'education_secondary': 0, 'education_tertiary': 0, 'education_unknown': 0, 'contact_telephone': 0, 'contact_unknown': 0, 'poutcome_other': 0, 'poutcome_success': 0, 'poutcome_unknown': 0}

In [8]:
for key in test:
    print(key)

job_blue-collar
job_entrepreneur
job_housemaid
job_management
job_retired
job_self-employed
job_services
job_student
job_technician
job_unemployed
job_unknown
marital_married
marital_single
education_secondary
education_tertiary
education_unknown
contact_telephone
contact_unknown
poutcome_other
poutcome_success
poutcome_unknown